/* HEADER AND NAVIGATION */
.grid-one {
  grid-area: header;
}

.grid-two {
  grid-area: nav;
}

.grid-container-two {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
   'header nav';
  align-items: center;
  
}
#header {
    color: gray;
    float: left;
  }
  
  .sitename {
    font-weight: normal;
    font-size: 2em;
    display: inline-flex;
  }
  li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
  }
  
  .nav-link {
    color: gray;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
  }

  #nav-bar {
    display: inline-flex;
  }
  /* SEARCH BAR */
  
  hr {
    display: block;
    color: gray;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
  }
  
  .font {
    grid-area: font;
  }

  .text {
    grid-area: inputtext;
  }

  .dropdown{
    grid-area: drpdwn;
  }

  .button1 {
    grid-area: dark;
  }

  .button2 {
    grid-area: gridview;
  }

  .button3 {
    grid-area: list;
  }

  .button4 {
    grid-area: restore;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    grid-template-areas:
     'font inputtext drpdwn dark gridview list restore';
    margin-bottom: 3%;
    margin-top: 3%;
    align-items: center;
    border: 1px solid grey;
    border-radius: 20px;
   }
  /* SEARCH/FILTER BOX */
  #fontsearch {
    margin-left: 20px;
    border: none;
    width: 90%;
    padding: 5%;

  }
  /* TEXT INPUT BOX */
  #textInput {
    margin-left: 5px;
    border: none;
    border-left: 1px solid gray;
    width: 90%;
    padding: 5%;

  }
  /* LIGHT/DARK MODE BUTTON */
  .dark {
    background-color: black;
    padding: 6px;
    border-radius: 20px;
    float: right;
    cursor: pointer;

  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  /* FONT SIZE DROPDOWN */
  .dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    display: inline;
    margin-bottom: 0px;
    cursor: pointer;
    width: 75%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1%;
    border-left: 1px solid gray;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 4;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* LIST AND GRID VIEW BUTTONS */
  button {
    display: inline-flex;
  }
  
  .btn {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    float: left;
    
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btnactive {
    background-color: white;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    float: right;
  }
  /* REFRESH BUTTON */
  .restore {
    float: center;
    border: none;
    background-color: white;
    position: relative;
    cursor: pointer;
  }
  /* GRID CONTAINER FOR FONTS*/
 
  #font-grid a {
    text-decoration: none;
    color: black;
  }
/* TEXTAREA STYLES */
  #font1 {
    font-family: Century Gothic;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font2 {
    font-family: Franklin Gothic Medium;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font3 {
    font-family: Bodoni MT;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font4 {
    font-family: Rockwell;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }

  #font6 {
    font-family: Arial;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;

  }
  #font7 {
    font-family: Ink Free;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font8 {
    font-family: Lucida Handwriting;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font9 {
    font-family: Goudy Old Style;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }

  
  textarea {
    resize: initial;
    overflow: auto;
    width: 100%;;
  }
  
  #font1::placeholder {
    color: black;
  }
  
  #font2::placeholder {
    color: black;
  }
  
  #font3::placeholder {
    color: black;
  }
  
  #font4::placeholder {
    color: black;
  }
  

  
  #font6::placeholder {
    color: black;
  }
  
  #font7::placeholder {
    color: black;
  }
  
  #font8::placeholder {
    color: black;
  }
  
  #font9::placeholder {
    color: black;
  }
  
/* INDIVIDUAL FONT DESIGN FOR GRID */

.grid {
  border-top: 1px solid gray;
  width: 100%;
}
  
  label {
    font-size: 20px;
    font-weight: bold;
  }
    
  .addon {
    float: right;
    border: 2px solid red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    cursor: pointer;
  }
  
  .circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
  }
  
  .circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: red;
    height: 8px;
    width: 2px;
    margin-top: -10px;
    top: 50%;
    left: -1px;
    right: 5px;
    z-index: 9;
  }
  
  .circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: red;
    width: 8px;
    height: 2px;
    margin-left: -10px;
    left: 6px;
    top: 3px;
    bottom: 5px;
    z-index: 9;
  }
  /* FOOTER */
  .devinfo {
    text-align: center;
    margin-top: 100px;
  }

  /* BACK TO TOP BUTTON */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gray;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 20px;
  }
  
  #myBtn:hover {
    background-color: black;
  }
/* MEDIA QUERIES */

   @media screen and (min-width: 1135px) {
  #font-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 75px;

  }

  .grid-1 {
    width: 100%;
  }

}

@media only screen and (max-width: 1026px) {
 #hide-image {
   display: none;
 }
  #nav-bar {
    position: relative;
    right: 0;
    display: inline-block;
  
  }
 
}


  