/* styling header */
#header {
    color: gray;
    top: 0;
    left: 0;
  }
  
  .sitename {
    font-weight: normal;
  }
  /* styling nav bar */
  #nav-bar {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 5px;
  }
  
  .nav-link {
    color: gray;
    font-weight: bold;
    text-decoration: none;
  }
  /* styling search bar */
  
  hr {
    display: block;
    color: gray;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
  }
  
  .searchbar {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 25px;  
    width: 100%
  }
  /* search box */
  #fontsearch {
    margin-left: 20px;
    border: none;
    width: 17%;
  }
  /* type something */
  #textInput {
    margin-left: 5px;
    border: none;
    border-left: 1px solid gray;
    width: 17%;
  }
  /* light/dark mode */
  .dark {
    background-color: black;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 0px;
    margin-left: 10%;
    cursor: pointer;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  /* font size changer */
  .dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    display: inline;
    margin-bottom: 0px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1%;
    border-left: 1px solid gray;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 4;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* list and grid view */
  button {
    display: inline-flex;
  }
  
  .btn {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    bottom: -4px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btnactive {
    background-color: white;
    color: white;
    margin-left: 200px;
    margin-bottom: -6px;
    border: none;
    position: relative;
    bottom: -4px;
    cursor: pointer;
  }
  /* refresh button */
  .restore {
    margin-left: 270px;
    border: none;
    background-color: white;
    position: relative;
    bottom: -3px;
    cursor: pointer;
  }
  /* styling font grids */
  #font-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 75px;
  }

  #font-grid a {
    text-decoration: none;
    color: black;
  }
/* textarea styles */
  #font1 {
    font-family: Century Gothic;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font2 {
    font-family: Franklin Gothic Medium;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font3 {
    font-family: Bodoni MT;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font4 {
    font-family: Rockwell;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }

  #font6 {
    font-family: Arial;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;

  }
  #font7 {
    font-family: Ink Free;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font8 {
    font-family: Lucida Handwriting;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }
  #font9 {
    font-family: Goudy Old Style;
    border: none;
    font-weight: bold;
    color: black;
    font-size: 1em;
    width: 100%;
  }

  
  textarea {
    resize: initial;
    overflow: auto;
    width: 100%;;
  }
  
  #font1::placeholder {
    color: black;
  }
  
  #font2::placeholder {
    color: black;
  }
  
  #font3::placeholder {
    color: black;
  }
  
  #font4::placeholder {
    color: black;
  }
  

  
  #font6::placeholder {
    color: black;
  }
  
  #font7::placeholder {
    color: black;
  }
  
  #font8::placeholder {
    color: black;
  }
  
  #font9::placeholder {
    color: black;
  }
  
/* individual font grid design */

.grid {
  border-top: 1px solid gray;
  width: 275px;
}
  
  label {
    font-size: 20px;
    font-weight: bold;
  }
    
  .addon {
    float: right;
    border: 2px solid red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    cursor: pointer;
  }
  
  .circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    position: relative;
  }
  
  .circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: red;
    height: 8px;
    width: 2px;
    margin-top: -10px;
    top: 50%;
    left: -1px;
    right: 5px;
    z-index: 9;
  }
  
  .circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: red;
    width: 8px;
    height: 2px;
    margin-left: -10px;
    left: 6px;
    top: 3px;
    bottom: 5px;
    z-index: 9;
  }
  /* footer */
  .devinfo {
    text-align: center;
    margin-top: 100px;
  }

  /* Back to Top Button */
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gray;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 20px;
  }
  
  #myBtn:hover {
    background-color: black;
  }
  